html, body {
	height: 100%;
	margin: 0;
	padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: linear-gradient(#287C00, #21460A);
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    flex-direction: column;
}

.circle {
    margin-top: -5px;
    height: 300px;
    width: 600px;
    /* background: red; */
    border: 5px solid white;
    border-bottom-left-radius: 1200px;
    border-bottom-right-radius: 1200px;
}

.score {
    display: flex;
    flex-direction: column;

    margin-top: 50px;
}

.score > div {
    align-self: center;
}

.score-status {
    display: flex;
    justify-content: center;
    background-color: #000000;
    width: 450px;
    border-radius: 10px;
    color: white;
}

.score-status > div {
    margin: 5px;
}

.score-timer {
    margin-top: 10px;
    width: 80px;
    background-color: rgb(179, 179, 179);
    color: white;
    text-align: center;
    border-radius: 5px;
}

.vic {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

.vic > div {
    align-self: center;
    color: white;
}

button{
    display: inline-block;
    background-color: rgb(6, 176, 255);
    width: 200px;
    height: 50px;
    border: none;
    font-size: 20px;
    text-align: center;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}

/* image */
.ligue1 {
    width: 300px;
}

.om {
    width: 70px;
}

.psg {
    width: 90px;
}

.ball {
    width: 70px;
}

.img-tr {
    width: 70px;
}